<div class="card">
  <div class="row">
    <div class="col-sm-4">
      <img class="card-img align-self-center" src="http://aticodeloslibros.com/img/cms/pauljohnson.jpg" alt="Tienda" style="width: 125px">
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <p class="card-text">Tienda: {{tiendaNombres}} {{tiendaDireccion}}</p>
        <p class="card-text">Fecha de Apertura: {{tiendaFechaApertura}}</p>
        <p class="card-text">RUC: {{tiendaRUC}}</p>
        <p class="card-text">Matriz: {{tiendaMatriz}}</p>
      </div>
    </div>
  </div>
</div>
